<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>symbols</key>
	<dict>
		<key>mask-symbol</key>
		<dict>
			<key>image</key>
			<string>mask.png</string>
			<key>type</key>
			<string>sampler2D</string>
		</dict>
		<key>time-symbol</key>
		<dict>
			<key>semantic</key>
			<string>time</string>
		</dict>
		<key>a_texcoord-symbol</key>
		<dict>
			<key>semantic</key>
			<string>texcoord</string>
		</dict>
		<key>noiseSymbol</key>
		<dict>
			<key>image</key>
			<string>noise.png</string>
			<key>type</key>
			<string>sampler2D</string>
		</dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>render</string>
		<string>nightvision</string>
	</array>
	<key>passes</key>
	<dict>
		<key>nightvision</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>blendStates</key>
			<dict>
				<key>colorSrc</key>
				<string>srcColor</string>
				<key>colorDst</key>
				<string>dstColor</string>
				<key>alphaSrc</key>
				<string>srcAlpha</string>
				<key>alphaDst</key>
				<string>oneMinusSrcAlpha</string>
			</dict>
			<key>program</key>
			<string>nightvision</string>
			<key>inputs</key>
			<dict>
				<key>elapsedTime</key>
				<string>time-symbol</string>
				<key>a_texcoord</key>
				<string>a_texcoord-symbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>depthSampler</key>
				<string>DEPTH</string>
				<key>noiseSampler</key>
				<string>noiseSymbol</string>
				<key>maskSampler</key>
				<string>mask-symbol</string>
				<key>a_position</key>
				<string>a_position-symbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
		<key>render</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>render</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>maskTarget</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>maskTarget</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>size</key>
			<string>640x1136</string>
			<key>scaleFactor</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
